<section class="kids-hero">
  <div class="kids-hero-inner">
    <p class="kids-kicker">Département des enfants et des jeunes</p>

    <h1 class="kids-title">
      Que personne ne méprise <span>ta jeunesse</span>.
    </h1>

    <p class="kids-verse">
      « LAISSEZ LES PETITS ENFANTS, NE LES EMPÊCHEZ PAS DE VENIR À MOI,
      CAR LE ROYAUME DES CIEUX EST POUR CEUX QUI LEUR RESSEMBLENT. »
      <strong>— Matthieu 19:14</strong>
    </p>

    <!-- <div class="kids-cta">
      <a routerLink="/premiere-visite" class="btn-solid">Première visite</a>
      <a href="#infos" class="btn-outline">Infos pratiques</a>
    </div> -->
  </div>
</section>

<section class="kids-info-section">
  <div class="kids-info-grid">

    <!-- Cadre 1 : Notre mission -->
    <div class="kids-box kids-box--mission">
      <h3>Notre mission</h3>
      <p>
        Nous croyons que l’Église est pour tous et qu’elle se vit dès le plus jeune âge.
        Vos enfants sont nos invités privilégiés.
      </p>
      <p>
        Notre mission est d’enseigner bibliquement les enfants afin qu’ils s’approchent de Dieu
        et expérimentent la vie chrétienne.
      </p>
    </div>

    <!-- Cadre 2 : Fun & sécurisant -->
    <div class="kids-box kids-box--fun">
      <h3>Un espace pour s’amuser et grandir</h3>
      <p>
          Jeux, échanges et moments joyeux permettent aux enfants de créer des liens solides 
          et de découvrir Dieu dans une ambiance positive et sécurisée.
          Nous veillons à offrir un environnement sain, encadré et chaleureux, où chaque enfant 
          peut s’exprimer, apprendre et se sentir pleinement en confiance.
      </p>
      <p class="kids-slogan">
        « Grandir avec Dieu, Ensemble et dans la Joie »
      </p>
    </div>

    <!-- Cadre 3 : Pour tous les âges -->
    <div class="kids-box kids-box--ages">
      <h3>Pour tous les âges</h3>

      <div class="age-item">
        <strong>Petits</strong>
        <span>Découverte & histoires bibliques</span>
      </div>

      <div class="age-item">
        <strong>Moyens</strong>
        <span>Louange & enseignements concrets</span>
      </div>

      <div class="age-item">
        <strong>Grands</strong>
        <span>Foi au quotidien & échanges</span>
      </div>
    </div>

    <!-- Cadre 4 : Horaires -->
    <div class="kids-box kids-box--horaires">
      <h3>Horaires</h3>
      <p class="time-highlight">
        Un rendez-vous régulier pour grandir dans la foi, ensemble et avec joie.<br />
        <div class="age-item"> 
            <strong>Nos Rencontres en ligne</strong>
            Un jeudi sur deux<br />
            19h00 – 19h30
        </div>
      <p>
        Rejoins-nous pour un temps de partage, de joie et de découverte.
      </p>
    </div>

  </div>
</section> 